<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings List</title>
    <link rel="stylesheet" href="static/style.css">
    <style>
        .container {
            display: none;
        }
    </style>
</head>
<body>
    <div class="login">
        <h2>Admin login</h2>
        <form>
            <label for="user">Username</label>
            <input type="text" id="user" name="Username"required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password"required>

            <button type="submit">Login</button>
        </form>

    </div>
    <div class="container">
        <h2>All Bookings</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking[0] }}</td>
                <td>{{ booking[1] }}</td>
                <td>{{ booking[2] }}</td>
                <td>{{ booking[3] }}</td>
                <td>{{ booking[4] }}</td>
                <td><a href="{{ url_for('delete_booking', id=booking[0]) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/">Go Back</a>
    </div>
</body>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const form = document.querySelector("form");
        
            form.addEventListener("submit", function(event) {
                event.preventDefault(); // Prevent form submission refresh

                const user = document.getElementById("user").value.trim();
                const pass = document.getElementById("password").value.trim();
        
                if (!user || !pass) {
                    alert("Please enter credentials.");
                }

                if (user == "admin" && pass == "pass"){
                    document.querySelector(".container").style.display="block";
                    document.querySelector(".login").style.display="none";
                    alert("welcome!")
                } else {
                    alert("Invalid credentials.")
                }
            });
        });
    </script>
</html>
